<%= render 'testimonials/tweet_testimonial' %>
<div class="flex flex-col items-start space-y-3">
  <% if @collected_tweets.find_by(tweet_status_id: @testimonial.tweet_status_id).nil? %>
    <%= form_with url: collect_twitter_post_create_path, method: :post, model: @testimonial do |form| %>
      <%# @testimonial.each do |key, value| %>
      <%#= form.hidden_field key, value: value %>
      <%# end %>
      <%= form.submit "Collect", class: "py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md bg-purple-600 text-white uppercase cursor-pointer hover:bg-purple-800" %>
    <% end %>
  <% else %>
    <%= button_to "Remove", collect_delete_tweet_path(@testimonial.tweet_status_id), method: :delete, class: "py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md bg-red-400 text-white uppercase cursor-pointer hover:bg-red-600" %>
  <% end %>
</div>
