<% if resource.errors.any? %>
  <div class="flex flex-col my-4 items-start justify-between">
    <% resource.errors.full_messages.each do |message| %>
      <p class="text-red-600 text-sm font-black"><%= message %></p>
    <% end %>
  </div>
<% end %>
