<% if resource.errors.any? %>
  <div id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
      <p class="text-pink-600 my-1 text-sm"><%= message %></p>
    <% end %>
  </div>
<% end %>
