<div class="masonry before:box-inherit after:box-inherit">
  <% @testimonials.each do |t| %>
    <% @testimonial = t %>
    <div class="item">
      <% if @testimonial.tweet? %>
        <%= render 'testimonials/tweet_testimonial' %>
      <% else %>
        <%= render 'testimonials/link_testimonial' %>
      <% end %>
    </div>
  <% end %>
</div>



<style>
    .masonry {
        margin: 1.5em auto;
        max-width: 1280px;
        column-gap: 1.5em;
        height: 100%;
    }

    /* The Masonry Brick */
    .item {
        background: #fff;
        padding: 1em;
        margin: 0 0 1.5em;
        break-inside: avoid;
    }

    .item > * {
        margin: 0 auto;
    }

    /* Masonry on large screens */
    @media only screen and (min-width: 1024px) {
        .masonry {
            column-count: 3;
        }
    }

    /* Masonry on medium-sized screens */
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
        .masonry {
            column-count: 2;
        }
    }

    /* Masonry on small screens */
    @media only screen and (max-width: 767px) and (min-width: 540px) {
        .masonry {
            column-count: 1;
        }
    }
</style>