<div data-controller="clipboard"
     data-clipboard-supported-class="clipboard--supported"
     data-clipboard-success-class="clipboard--success">
  <%= text_field_tag :weburl, content, data: { "clipboard-target": "source" }, readonly: "readonly" %>
  <%= button_tag "Copy", :type => "button", data: { "action": "clipboard#copy" }, class: "clipboard-button" %>

</div>