<section class="gradient w-full mx-auto text-center pt-6 pb-12">
  <h2
    class="w-full my-2 text-5xl font-black leading-tight text-center text-white"
  >
    Create my account today
  </h2>

  <%= link_to 'Sign up', new_registration_url('user'), class: 'btn btn-alert mt-8' %>

</section>