<div class="container mx-auto ">
  <div class="text-center px-3  lg:px-0 flex flex-col space-y-6 items-center h-full">
    <h1
      class="my-4 text-4xl md:text-5xl font-bold leading-tight"
    >
      <span class="font-black text-yellow-300 italic">Showcase</span> why your product is
      the <span class="underline">best</span> in town.
    </h1>
    <p
      class="leading-normal text-gray-800 text-xl font-light md:text-2xl mb-8"
    >
      Start creating a portfolio of why your users love your product now 💪
    </p>

    <%= link_to 'Sign up', new_registration_url('user'), class: 'btn btn-alert' %>

    <div class="flex items-center w-full mx-auto content-end hidden md:block">
      <%= image_pack_tag 'media/images/dashboard.png', class: 'mx-auto w-full rounded-xl' %>
    </div>
  </div>
</div>