<section class="bg-gray-100 border-b py-8" id="how-it-works">
  <div class="container max-w-5xl mx-auto m-8">
    <h2
      class="section-title"
    >
      How it works
    </h2>
    <div class="w-full mb-4">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>

    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 p-6">
        <h3 class="text-2xl md:text-3xl text-gray-800 font-semibold md:font-bold leading-none mb-3">
          <span class="font-black text-4xl text-purple-600">1.</span> Create an account
        </h3>
        <p class="text-gray-600 mb-8">
          Easy and fast registration with a very affordable subscription fee after your free trial has expired and
          you've decided to keep using HeySloth.
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <%= image_pack_tag 'media/images/easy_collect.png' %>
      </div>
    </div>
    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full md:w-1/2 p-6 mt-6">
        <%= image_pack_tag 'media/images/collect.png' %>
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle">
          <h3 class="text-2xl md:text-3xl text-gray-800 font-semibold md:font-bold leading-none mb-3">
            <span class="font-black text-4xl text-purple-600">2.</span> Start collecting
          </h3>
          <p class="text-gray-600 mb-8">
            And just like that! Start adding testimonials to your wall from Twitter or direct input from users using
            your very own FireLinks.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 p-6">
        <h3 class="text-2xl md:text-3xl text-gray-800 font-semibold md:font-bold leading-none mb-3">
          <span class="font-black text-4xl text-purple-600">3.</span> Embed HeyWall in your website
        </h3>
        <p class="text-gray-600 mb-8">
          Ta-daaah! That's it, you've added a beautiful testimonial wall to your website, which you can administrate
          from our lovely UI and update in real time.
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <%= image_pack_tag 'media/images/embed.png' %>
      </div>
    </div>
  </div>
</section>