<h1>Collect#new_testimonial</h1>

<p>
  <%= @greeting %>, you received this E-mail because your opinion is required.
</p>

<p>
  Could you please give us an endorsement about your experience with our product.
  Click <%= link_to 'here', collect_from_fire_link_new_url(@fire_link.slug, subdomain: false) %>.
</p>