<div class="flex flex-col justify-between space-y-12 mb-5">
  <p class="">Choose how would you like to collect testimonials.</p>
  <%= render 'collect_from_cta', url: shareable_links_path, text: '1. Collect from a shareable link 🔗' %>
  <%= render 'collect_from_cta', url: collect_twitter_post_new_path, text: '2. I have a Twitter post 🚀' %>
  <%= render 'collect_from_cta', url: collect_twitter_search_path, text: '3. Search what people are saying about my product on Twitter 💪' %>
</div>
