<div class="shadow-xl rounded sm:overflow-hidden">
  <div class="px-4 py-6 sm:px-6 flex flex-col space-y-6">
    <h1 class="text-purple-600 font-extrabold text-2xl mb-5 ">Timeline tweets
      for <span class="font-black underline"><%= @twitter_handle %></span>
    </h1>
    <% if @testimonials.any? %>
      <div class="grid auto-cols-auto grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-5 mb-16">
        <% @testimonials.each do |t| %>
          <% @testimonial = t %>
          <%= render 'tweet/collect_tweet' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>