<%= render 'shared/page_content', page_title: 'Timeline tweets' do %>
  <% if @twitter_handle.nil? %>
    <div>
      <p>There is no Twitter account associated with your HeySloth
        account.
        <%= link_to 'Link now', user_twitter_omniauth_authorize_path, class: "text-purple-500 font-black hover:text-purple-600 underline" %>
        to proceed.</p>
    </div>
  <% else %>
    <h2 class="text-xl mb-5">
      Mentions for
      <span class="italic font-black text-2xl">
        <%= @twitter_handle %>
      </span>
    </h2>
    <% if @testimonials.any? %>
      <div class="grid auto-cols-auto grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-5 mb-16">
        <% @testimonials.each do |t| %>
          <% @testimonial = t %>
          <%= render 'tweet/collect_tweet' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
