<div>
  <pre>
    &lt;div id="testimonials"&gt;&lt;/div&gt;
    &lt;script src="<%= embed_url(format: :js) %>"&gt;&lt;/script&gt;
    &lt;link rel="stylesheet" type="text/css" href="<%= embed_url(format: :css) %>"&gt;
  </pre>
</div>



