<div class="my-8">
  <section class=" flex justify-center items-center flex-col md:flex-row gap-11 py-10 px-5 bg-white rounded-md shadow-2xl">
    <% if @testimonial.has_image? %>
      <div class="text-gray-900 flex flex-col justify-center align-middle my-auto md:w-1/4 h-full">
        <%= display_image @testimonial, alt: "User of testimonial", class_names: "rounded-full" %>
      </div>
    <% end %>
    <div class="text-purple-600 md:w-3/4">
      <h3 class="uppercase text-black text-2xl font-medium"><%= @testimonial.name %></h3>
      <small class="text-black text-justify text-lg"><%= @testimonial.rich_text_or_content %></small>
      <div class="flex gap-0.5 mt-4">
        <%= link_to @testimonial.social_link, target: "_blank", class: "bg-blue-400 p-4 flex justify-center items-center rounded-full" do %>
          <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"/>
          </svg>
        <% end %>
      </div>
    </div>
  </section>
</div>